<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shy.study.home">

    <application
        android:name=".HomeApplication"
        android:allowBackup="true"
        android:label="Home"
        android:theme="@style/Theme.ComponentPackage">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />

    </application>

</manifest>